llama-index==0.11.20
llama-parse==0.5.12 
llama-index-multi-modal-llms-openai==0.2.3 
git+https://github.com/openai/CLIP.git 
llama_index.postprocessor.cohere_rerank==0.2.1
nest-asyncio==1.6.0
llama-index-llms-azure-openai
llama-index-embeddings-azure-openai
llama-index-multi-modal-llms-azure-openai
streamlit==1.39.0
streamlit-pdf-viewer==0.0.19
Pillow==10.4.0
python-dotenv==1.0.1
